.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #696969;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.top {
    margin-top: 100px;
    padding-top: 50px;
}

.left-section,
.right-section {
    padding: 20px;
}

.left-section {
    flex: 1;
    max-width: 600px;
}

.right-section {
    flex: 1;
    max-width: 600px;
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-title {
    font-size: 32px;
    font-weight: bold;
    color: #090909;
    margin-bottom: 10px;
}

.product-description {
    margin: 10px 0;
    font-size: 18px;
    line-height: 1.6;
    color: #7f8c8d;
}

.product-price {
    color: #242424;
    font-size: 26px;
    font-weight: bold;
    margin: 10px 0;
}

.old-price {
    text-decoration: line-through;
    color: #999;
    margin-right: 10px;
    font-size: 24px;
}

.promo-price {
    font-size: 28px;
    color: #00AEAE;
}

.promo-label {
    background-color: #ec3d29;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: inline-block;
}

.product-details {
    border-top: 1px solid #2c2c2c;
    margin-top: 20px;
    padding-top: 20px;
}

.section-title {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.product-info {
    margin-bottom: 20px;
    color: black;
}

.product-info span {
    display: block;
    margin-bottom: 5px;
}

.product-buy {
    margin-top: 80px;
    text-align: right;
}

.count-button input {
    width: 50px;
    height: 25px;
    padding: 5px;
    text-align: center;
    align-self: flex-end;
    border-radius: 5px;
    background-color: #c0c0c0;
    border-style: solid;
    border-color: #2c2c2c;
}

.buy-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #2f2f2f;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #413f3f;
    color: #fff;
    text-decoration: none;
}

#review h3 {
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 32px;
}


#review .container-fuild {
	background-color: #444141;
}

#review .rating-box {
	position: relative;
	background: #333;
	padding: 25px 50px 35px;
	border-radius: 25px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

#review .review-box {
	position: relative;
	background: #333;
	padding: 25px 50px 35px;
	border-radius: 25px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

#review .rating-box header {
	font-size: 22px;
	color: #dadada;
	font-weight: 500;
	margin-bottom: 20px;
	text-align: center;
}

#review .rating-box .stars {
	display: flex;
	align-items: center;
	gap: 25px;
}

#review .stars i {
	color: #e6e6e6;
	font-size: 35px;
	cursor: pointer;
	transition: color 0.2s ease;
}

#review .stars i.active {
	color: #ff9c1a;
}

#review .rstar {
	color: #ff9c1a;
}

#review form .textarea {
	height: 100px;
	width: 100%;
	overflow: hidden;
}

#review form .textarea textarea {
	height: 100%;
	width: 100%;
	outline: none;
	color: #000000;
	border: 1px solid #a8a8a8;
	background: #f6f6f6;
	border-radius: 10px;
	padding: 10px;
	font-size: 17px;
	resize: none;
}

#review form .btn {
	height: 45px;
	width: 100%;
	margin: 15px 0;
}

#review .rightBtn {
	height: 50px;
	width: 50px;
	color: #303061;
	border: 1px solid #e65050;
	background-color: #e65050;
	border-radius: 8px;
}

#review .btn button {
	height: 100%;
	width: 50%;
	border: 1px solid #444;
	outline: none;
	background: #e65050;
	color: #ffffff;
	border-radius: 5px;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.3s ease;
}

#review form .btn button:hover {
	background: #5f5f83;
}