body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f5f5f5;
    background-color: #2c2c2c;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    flex: 1;
}

header .logo h1 {
    margin: 0;
    font-size: 1.5em;
}

nav {
    flex: 3;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

.actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.actions .icon-link {
    color: white;
    text-decoration: none;
    margin-left: 1em;
    display: flex;
    align-items: center;
}

.actions .icon {
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
}

.language-switch {
    position: absolute;
    top: 1em;
    right: 1em;
}

.language-switch a {
    color: white;
    text-decoration: none;
    margin-left: 0.5em;
}

main {
    padding: 2em;
}

.products {
    display: flex;
    margin-top: 75px;
}

.product-category {
    flex: 1;
    margin-right: 2em;
}

.product-category h2 {
    color: #ff4c4c;
}

.product-category ul {
    list-style-type: none;
    padding: 0;
}

.product-category ul li {
    margin: 0.5em 0;
}

.product-category ul li a {
    color: #f5f5f5;
    text-decoration: none;
}

.product-list {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.product-item {
    background-color: #333;
    padding: 1em;
    border-radius: 10px;
    text-align: center;
    width: calc(33.33% - 2em);
    /* Three items per row */
    box-sizing: border-box;
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-item h3 {
    color: #fcdddd;
    margin: 0.5em 0;
}

.product-item p {
    margin: 0.5em 0;
}

.product-item .price {
    color: #ff4c4c;
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .product-item {
        width: calc(50% - 1em);
        /* Two items per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .product-item {
        width: calc(100% - 1em);
        /* One item per row on extra small screens */
    }
}

footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .social a {
    color: white;
    text-decoration: none;
    margin: 0 0.5em;
}